<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Contenido del encabezado -->
        <img class="logo" src="img/logo-mercado-liebre.svg" alt="" />
        <p>Lugar para poner la barra de búsqueda</p>
        <i class="fas fa-search"></i>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="desktop-menu">
            <ul>
                <!-- Menú para dispositivos de escritorio -->
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <!-- Menú para dispositivos de escritorio -->
                <li><a href="">Creá tu cuenta<i class="fas fa-user-plus"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <!-- Icono del menú hamburguesa -->
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <img class="banner" src="img/img-home-banner.jpg" alt="">
        <div>
            <h2>Basado en tu última visita</h2>
            <ul>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-cafetera-moulinex.jpg" alt="">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                        <p>Cafetera Moulinex</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-macbook-pro-2019.jpg" alt="">
                        <p>$230.000</p>
                        <p>20% off</p>
                        <p>MacBook Pro 2019</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-samsung-galaxy-s10.jpg" alt="">
                        <p>$70.500</p>
                        <p>10% off</p>
                        <p>Samsung Galaxy S10</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-tv-samsung-smart.jpg" alt="">
                        <p>$23.200</p>
                        <p>5% off</p>
                        <p>SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </div>
        <div>
            <h2>Ofertas</h2>
            <ul>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-cafetera-moulinex.jpg" alt="">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                        <p>Cafetera Moulinex</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-macbook-pro-2019.jpg" alt="">
                        <p>$230.000</p>
                        <p>20% off</p>
                        <p>MacBook Pro 2019</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-samsung-galaxy-s10.jpg" alt="">
                        <p>$70.500</p>
                        <p>10% off</p>
                        <p>Samsung Galaxy S10</p>
                    </article>
                </li>
                <li>
                    <article>
                        <img class="imagenproducto" src="img/img-tv-samsung-smart.jpg" alt="">
                        <p>$23.200</p>
                        <p>5% off</p>
                        <p>SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <section class="ventajas">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="ventajas">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="ventajas">
            <i class="fas fa-user-shield"></i>
            <h3> Seguridad, de principio a fin </h3>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>
