/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

ul {
    list-style: none;
}

header {
    background-color: #EAC926;
    padding: 1px 20px;
}

.logo {
    width: 150px;
}

.texto {
    text-align: center;
}

.banner {
    width: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-productos {
    width: 90%;
    margin: 20px;
    text-align: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2{
    margin: 30px 10px;
    font-size: 24px;
    font-weight: 600;
}

.productos article {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
}

.productos img {
    width: 100%;
    border-radius: 10px;
}

.productos p {
    font-size: 12px;
}

.productos .precio {
    font-size: 18px;
}

.productos .descuento .descripcion {
    font-size: 16px;
}

.ventajas {
    text-align: center;
    margin: 20px;
}

.ventajas i {
    font-size: 35px;
    margin: 10px;
    color: #1259c3;
}

.ventajas h3 {
    font-weight: 500;
    font-size: 16px;
}

.footer {
    font-weight: 300;
    margin-top: 40px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none; /* Oculta el menú para dispositivos móviles */
    }

    .burger-menu {
        display: block; /* Muestra el menú hamburguesa para dispositivos móviles */
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }
    .burger-menu i {
        padding: 10px 5px;
        width: 40px;
        background-color: #1259c3;
        border-radius: 5px;
    }
}

/* Estilos para dispositivos de escritorio */
@media screen and (min-width: 769px) {
    .burger-menu {
        display: none; /* Oculta el menú hamburguesa para dispositivos de escritorio */
    }
}

